
  <div>
    <h2>
      <img src="/logo.png" class="logo-icon" alt="Logo"/>
    </h2>
  </div>

<mat-sidenav-container class="sidenav-container">
  <!-- Menú lateral -->
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item (click)="setSection('cliente')"> Client </mat-list-item>
      <mat-list-item (click)="setSection('look_history')">Client look history </mat-list-item>
      <mat-list-item (click)="setSection('pin_configuration')">
        Emergency PIN Configuration
      </mat-list-item>
      <mat-list-item (click)="setSection('pin_history')">
        Emergency PIN History
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary" (click)="toggleSegment()">
            {{ isVisible ? "Nuevo Cliente" : "New Client" }}
          </button>
          <button mat-raised-button color="primary" (click)="triggerDownload()">Export</button>
        </div>
      </section>


     <div *ngIf="isVisible" class="segmento">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-container">
          <mat-form-field appearance="fill" *ngIf="formVisible" lass="flex-item">>
            <mat-label>SharedKey</mat-label>
            <input matInput formControlName="sharedKey" type="number" required />
          </mat-form-field>

          <mat-form-field appearance="fill" >
            <mat-label>BusinessId</mat-label>
            <input matInput formControlName="businessId" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" type="phone" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>StartDate</mat-label>
            <input matInput formControlName="startDate" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>EndDate</mat-label>
            <input matInput formControlName="endDate"  />
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">Save</button>
        </form>
      </div>
    </div>


    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="sharedKey">
        <th mat-header-cell *matHeaderCellDef>SharedKey</th>
        <td mat-cell *matCellDef="let element">{{ element.sharedKey }}</td>
      </ng-container>

      <ng-container matColumnDef="businessId">
        <th mat-header-cell *matHeaderCellDef>Business Id</th>
        <td mat-cell *matCellDef="let element">{{ element.businessId }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
      </ng-container>

      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="editarCliente(element)">
            Edit
          </button>
          <button mat-button color="primary" (click)="eliminarCliente(element)">
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>


      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </mat-sidenav-content>
</mat-sidenav-container>


